<noscript>
  <div class="noscript-overlay">
    <div class="container alert alert-danger text-center" role="alert">
      <h4 class="alert-heading">No Script Warning!</h4>
      <p>
        Sorry, your browser does not support JavaScript or it is turned off! For full functionality of {{ site.title }} it is necessary to enable JavaScript.<br>
        Here are the <a href="https://www.enable-javascript.com/" class="alert-link" target="_blank" rel="noopener">instructions how to enable JavaScript in your web browser</a>.
      </p>
    </div>
  </div>
</noscript>

{{ site.dep_jquery }}
{{ site.dep_popperjs }}
{{ site.dep_bootstrapjs }}

{{ page.foot_additional | flatify }}

<!-- scroll to top button -->
<script>
$(document).ready(function(){
  $(".scroll-to-top").click(function() {
    $("body,html").animate({
      scrollTop: 0
    }, 500);
    return false;
  });
  $(".scroll-to-top").tooltip();
});
</script>

{% if jekyll.environment == 'production' %}
<!-- service worker for PWA -->
<script>
if ("serviceWorker" in navigator) {
  window.addEventListener("load", function(){
    navigator.serviceWorker.register("{{ '/sw.js' | absolute_url }}");
  });
}
</script>
{% endif %}
