---
title: "Depth Cues"
description: "Explore the various depth cues"
date: 2024-06-15
tags: Depth Cues
references:
  - author: "Holger Kumke"
    title: "Kartographische Anreicherung von Gebäudefassaden mit thermalen Bilddaten"
    date: 2011
    link: https://mediatum.ub.tum.de/doc/1080209/1080209.pdf
  - author: "Christian Murphy"
    title: "Vorlesung Kartographie II:Einführung in die 3D Visualisierung mit Kepler.gl"
    date: 2022
  - author: "Barbara Sweet"
    title: "Depth Perception, Cueing, and Control"
    date: 2011
    link: https://ntrs.nasa.gov/api/citations/20180007277/downloads/20180007277.pdf
  - author: "Haley Adams"
    title: "Depth Perception in Augmented Reality: The Effects of Display, Shadow, and Position"
    date: 2022
    link: https://doi.org/10.1109/VR51125.2022.00101
  - author: "Jiamin Ping"
    title: "Review of depth perception in virtual and real fusion environment"
    date: 2021
    link: http://www.cjig.cn/html/2021/6/20210613.htm
  
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Justify text 15.05.2024 Tang -->
  <style>
    .justified-text {
      text-align: justify;
    }
  </style>
<!-- update 23.05.2024 Tang -->
  <style>
    .iframe-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  </style>

<!-- update 08.07.2024 Tang -->
  <style>
    .centered {
        display: flex;
        justify-content: center;
        height: 70vh;
    }
  
  </style>
</head>

<div class="justified-text">
  <div class="col">
    <p>
      In the field of vision and perception sciences, depth refers to the distance and position of objects we perceive in three-dimensional space. Even when viewed through a two-dimensional medium, such as pictures or screen, we are still able to perceive the three-dimensional nature and depth of these objects using a variety of visual cues. These visual cues are also known as depth cues.
    </p>
  </div>
</div>

<h2 class="mt-5">Categorization of depth cues</h2>
<hr>
<p>
  The following shows the categorization of depth cues, but it is not the only categorization standard.
</p>

<p>
Please move your mouse over the rectangles with different depth cues to see the details.
</p>
{% include_relative imgs/Depth-cues.svg class="img-fluid mx-auto d-block" %}

<h2 class="mt-5">Hands-On</h2>
<hr>

<p>
  Left-click on the cube and long press, you can drag it left, right, up and down, it will not change the depth.
</p>
<p>
  Right-click on the cube to display its details.
</p>
<p>
  Click on "Light Setting" to modify the position and size of the light source and the shadows.
</p>
<p>
  Click on "Reset", the light, gridlines and planes will be restored to its default value and the depth of the cubes will be reset randomly.
</p>
<p> <strong>The important coordinates:</strong><br>
    Origin: (0, 0, 0).The horizontal direction is the x-axis, the vertical direction is the y-axis, and the depth direction is the z-axis.
    <br>Camera: (20, 5, 20). The screen shows the scene from the camera's perspective<br>
    Light source: (15, 40, 20).The light shines on the cubes and casts shadows on the plane.<br>
</p>

<!-- update 08.07.2024 Tang -->
<div class="centered">
  <iframe src="DepthCuesHandOn.html"  width="1100" height="600" ></iframe>
</div>
