---
title: "Placement of Dynamic Labelling"
description: "Explore the principles of placing labels"
date: 2024-05-15
tags: Dynamic labelling
references:
  - author: "Jakub Straka"
    title: "Model of the Dynamic Labelling of Populated Places in Slovakia for the Purposes of the State Map Series"
    date: 2016
    link: http://link.springer.com/10.1007/978-3-319-19602-2
  - author: "Gao Jiliang"
    title: "A Rearch on Self-adaptive Labelling of Electronic Map"
    date: 2004
    link: http://sourcedb.igsnrr.cas.cn/zw/lw/200906/P020090625729407191411.PDF
  - author: "Fan Hong"
    title: "The Study on the Principles of Automated Placement of Map Name and Its Implementation Approach"
    date: 1998
  - author: "Makram A. Murad-al-shaikh"
    title: "Professional Labeling and Text Annotation Techniques with ArcMap"
    date: n.d.
    link: https://icaci.org/files/documents/ICC_proceedings/ICC2005/htm/pdf/poster/TEMA3/MAKRAM%20A%20MURAD-AL-SHAIKH.pdf
  - author: "Esri"
    title: "ArcGIS Pro: Advanced Map Labeling"
    date: 2023
    link: https://mediaspace.esri.com/media/t/1_g8cimcad

---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Justify text 15.05.2024 Tang -->
  <style>
    .justified-text {
      text-align: justify;
    }
  </style>
<!-- update 23.05.2024 Tang -->
  <style>
    .iframe-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  </style>
</head>

<div class="justified-text">
  <p>
    Dynamic labelling refers to a method of placing labels on maps where the characteristics and placement of the labels
    are dynamically adapted based on user interactions and the context of the map. This approach allows for the creation
    of labels that respond to changes in zooming, panning, and other user interactions, ensuring clarity and legibility.
    Dynamic labels are generated in real-time using labelling expressions stored with the data, allowing for flexible
    and automated label placement.
  </p>
</div>

<h2 class="mt-5">Principles</h2>
<hr>
<div class="justified-text">
  <p>
    Within the visible map area, the position and size of labels will continuously and rapidly adjust in real-time in
    response to user interactions such as zooming and panning. To optimize the effectiveness of these adjustments, it is
    important to follow certain best practices. Although there are no hard guidelines for label configuration, it is
    recommended to adopt the following rules:
  </p>
</div>
<p>
  <strong>1. Point</strong><br>
</p>
<div class="justified-text">
  <p>
    Labels for point feature are typically placed horizontally and can be tightly positioned around the point in various
    locations.
  </p>
</div>

<!-- update 15.05.2024 Tang -->
<div class="text-center">
  <img src="imgs/1_Candidates-for-Annotation-Position-of-Point-Feature.svg" class="img-fluid mx-auto d-block" alt="SVG Image">
</div>
<!-- update 23.05.2024 Tang -->
<figcaption class="figure-caption" style="text-align: center;">Candidates for Annotation Position of Point Feature(0=point, 1=highest, 8=lowst)</figcaption>

<p>
  <br>
  <strong>2. Line</strong><br>
</p>
<div class="justified-text">
  <p>
    Labels for line features are typically aligned with the direction of the line and centered on it. However, in
    practical scenarios where line features are densely distributed and highly curved, different algorithms are employed
    to achieve visual harmony.
  </p>
</div>
<div class="text-center">
  <img src="imgs/3_Annotation-Position-of-Point-Feature.svg" class="img-fluid mx-auto d-block" alt="SVG Image">
</div>
<figcaption class="figure-caption" style="text-align: center;">Examples for Annotation Position of Line Feature</figcaption>
<p>
  <br>
  <strong>3. Polygon</strong><br>
</p>
<div class="justified-text">
  <p>
    Determining the placement of labels for polygon features involves considerable complexity. Typically, this process
    requires the use of algorithms to clip the polygon and identify the optimal label position based on the polygon's
    characteristics. Ideally, the label should be positioned near the center of the polygon and contained within its
    boundaries. In cases where the polygon feature is very small, the label may be placed adjacent to the feature. </p>
</div>

<div class="text-center">
  <img src="imgs/4_Annotation-Position-of-Polygon-Feature.svg" class="img-fluid mx-auto d-block" alt="SVG Image">
</div>

<figcaption class="figure-caption" style="text-align: center;">Examples for Annotation Position of Polygon Feature</figcaption>

<div class="justified-text">
  <p>
    <br>
    Following the above configuration principles, dynamic labelling is characterized by several fundamental features:<br>
    <strong>Automated Label Placement:</strong> the label positions are automatically determined to ensure optimal placement relative to map features, minimizing potential cartographic conflicts.<br>
    <strong>Non-selectable Labels: </strong>labels are passive elements that users cannot directly interact with or manipulate.<br>
    <strong>Uniform Display Properties:</strong> the display characteristics of individual labels cannot be altered, ensuring consistency across the map.<br>
    </p>
</div>


<h2 class="mt-5">Hands-on</h2>
<hr>
<div class="justified-text">
  <p>
    Esri's Maplex Label Engine offers a specialized suite of tools that let you manage label placement relative to features, adjust or condense labels to maximize placement in limited spaces, and resolve conflicts between overlapping labels. <br>
  </p>
</div>
<!-- update 28.06.2024 Tang  Hand on from ArcGIS Online-->
<div class="iframe-container">
  <iframe 
    src="https://tu-muenchen.maps.arcgis.com/apps/instant/basic/index.html?appid=75a955b947e747b7a839181bedd0afaf"
    width="800" 
    height="400" 
    frameborder="0" 
    style="border:0" 
    allowfullscreen>This page does not support iFrames.
  </iframe>
</div>
<!-- <p> </p>
<h3 class="mt-5">Quiz</h3>
<p>Test the knowledge with this quiz.</p>

<div class="iframe-container">
    <iframe src="https://2024lingyu.h5p.com/content/1292318707189772877/embed" aria-label="1" width="200" height="200" frameborder="0"  allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
    <script src="https://2024lingyu.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>
</div>
-->
