// =============================================================================
// button-gray

.btn-gray {
   @include button-variant($gray-200, $gray-200);
}

// =============================================================================
// noscript-overlay

.noscript-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.6);
  overflow: hidden;

  .alert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

// =============================================================================
// narrow width

.mw-900 {
  max-width: 900px;
}

// =============================================================================
// interactive crosshair cursor

.cursor-crosshair {
  cursor: crosshair;
}

// =============================================================================
// topography background

.bg-topo-light {
  background-image: url("topography-light.svg");
  // background-attachment: fixed;
}
.bg-topo-dark {
  background-image: url("topography-dark.svg");
  // background-attachment: fixed;
}

// =============================================================================
// link-underline

.link-underline {
  text-decoration: none;
  box-shadow: 0 0.375em transparent;
  @include transition($transition-base);
  @include hover-focus {
    text-decoration: none;
    box-shadow: 0 0.125em currentColor;
  }
}
